venv-fastapi/
env/
venv/
ENV/
venv_pruebas/

.env
config_ia.json

documents_local/
documents_cloud/

uploads/*
!uploads/.gitkeep

redis_data/

vector_store_local/
vector_store_cloud/

cache_ll/
cache_lc/
cache_cc/

vector_store/
vector_store_cache/
vector_store_cache_local/
vector_store_cache_cloud/
*.sqlite
*.sqlite3
*.db

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

*.log
*.tmp
*.temp

.vscode/
.idea/
.DS_Store
qdrant_storage/

.env.docker
.env.docker.local
